[submodule "Sming"]
	path = Sming
	url = https://github.com/SmingHub/Sming.git
	branch = develop
[submodule "esp-open-sdk"]
	path = esp-open-sdk
	url = https://github.com/pfalcon/esp-open-sdk.git
[submodule "MD_MAX72XX"]
	path = MD_MAX72XX
	url = https://github.com/MajicDesigns/MD_MAX72XX.git
[submodule "MD_Parola"]
	path = MD_Parola
	url = https://github.com/MajicDesigns/MD_Parola.git
